language: node_js
sudo: false
node_js:
- stable
addons:
  firefox: '42.0'
cache:
  directories:
  - node_modules
before_script:
- npm install web-component-tester bower polylint
- bower install
- polylint
- export PATH=$PWD/node_modules/.bin:$PATH
script:
- xvfb-run wct
after_success: '[ ${TRAVIS_PULL_REQUEST} = "false" ] && [ ${TRAVIS_BRANCH} = "master" ] && ./gpages_build.sh Collaborne info@collaborne.com'
env:
  secure: jM1H2yd5Wyl8o4rgSNsRD/qSNeHgZzP7h6d6v3eDXqNa2cCh5VKKuWhoghr7Zn0hB4ejizsMCPahzaj3ym7tpjaeEXHaOex4zli20VD2Ot7seFkUsn+xCNt2iEkxqF3A67XX8ifPOB6jSSxUMGVKFdNC/sa9NVZgslvgMaItMOtOb7tfhCtGOe8mGOs2JntcaAObGJ0To8mLt943aI7Ku7eyPAWqXYldCkx3DDkfzj5nr2KqFz/yBo7jhj81SuvdP0kybiesc5cRdAouTY9T8dnY7LMJjDNNgPNjoQ2TxJuailsmX1RedBSuh0YPGBetucGChyPPWG8FFVp0DqZB5yjebrM1ON6afg9cMcOayEnzriVNmofhuBAtHo7egjcpkAWhGo0lW/vixU8//JkfnIFZa2covQa1P0LFejpWcmQJbKwswjqaGjOE/u7Xj9rQwnSPuqCDmraHnquipMeII1IwE3bsTBX3IxESfFcm7Y9fWBOXN6e/jRaapdxJzNNXo82GHmuzICRdRYrYR/+c4rSW+VhJu6Q2C+slkof/i2VF/FrFsITYFjtPkPWKPnxyh2nKlsB2TPiceNSh9K22toEEhJqS5p/jxkxQMQ5cZODSOSsGS6oN9iNkW+p/Mzddrzi7NnMhRR+Edi+L6NWad77dXKd4YmjT8DGUtq8f9eQ=
